.profile-doctor-container {
  .intro-doctor {
    display: flex;

    .content-left {
      // background: center center no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin: 20px;

      .bg-doctor-detail {
        width: 80px;
        height: 80px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #eee;
        border-radius: 50%;

        &.section-doctor-detail {
          background-image: url("../../../../assets/images/doctor.jpg");
        }
      }
    }

    .content-right {
      width: calc(100% - 80px);
      display: flex;
      flex-direction: column;
      padding-left: 10px;

      .up {
        font-weight: 600;
      }

      .down {
        padding-top: 10px;
        text-align: justify;
      }
    }
  }
}
