<mat-card>
    <div class="container text-center">
      <img alt="logo" src="./../../../assets/images/login-logo.jpg" class="center">
    </div>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()" #formDir="ngForm">
            <p>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>User Name</mat-label>
                <input type="text" matInput placeholder="Enter here" formControlName="userName">
              </mat-form-field>
            </p>

            <p>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
              </mat-form-field>
            </p>

            <div class="button text-center">
              <button type="reset" mat-raised-button>Reset</button>
              <button type="submit" mat-flat-button color="primary" style="margin-left: 5px;">Login</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>