:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 400px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  margin: 5px;
  justify-content: flex-end;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}