.profile-image {
    max-width: 150px;
    max-height: 150px;
    border: 2px solid rgb(72, 69, 197);
    border-radius: 50%;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr td {
    padding: 15px 10px;
    text-align: center;
}

tr, td {
    border: 0.5px solid rgba(58, 59, 58, 0.397) !important;
}